
unidade03/.DS_Store
unidade04/.DS_Store
unidade05/.DS_Store
unidade05/exercicio01/.DS_Store
unidade05/exercicio02/.DS_Store
unidade13/exercicio09/.DS_Store
unidade13/exercicio08/.DS_Store
unidade13/exercicio07/.DS_Store
unidade13/exercicio06/.DS_Store
unidade13/exercicio05/.DS_Store
unidade13/exercicio04/.DS_Store
unidade13/exercicio03/.DS_Store
unidade13/exercicio02/.DS_Store
unidade13/.DS_Store
unidade12/exercicio02/.DS_Store
unidade12/.DS_Store
unidade11-projeto/.DS_Store
unidade10/.DS_Store
unidade10/exercicio/.DS_Store
unidade05/exercicio03/.DS_Store
unidade05/exercicio04/.DS_Store
unidade05/exercicio05/.DS_Store
unidade05/exercicio06/.DS_Store
unidade05/exercicio07/.DS_Store
unidade06/exercicio04/imagens/.DS_Store
unidade07/exercicio01/.DS_Store
unidade07/exercicio02/.DS_Store
unidade08/.DS_Store
unidade07/exercicio04/.DS_Store
unidade07/exercicio04/imagens/.DS_Store
unidade08/exercicio03/.DS_Store
unidade08/exercicio04/.DS_Store
unidade09/.DS_Store
unidade09/exercicio/.DS_Store
